/*----- 1. Main ------*/

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h3,
h4,
h5,
h6,
span {
font-weight: 800;
    letter-spacing: 1px;
}

p, a, li, ::placeholder {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #414141;
}

label {
    font-size: 15px;
    font-weight: 600;
	line-height: 23px;
    letter-spacing: 0.2px;
    color: #797979;
}

/* spacing cols and containers */
.col__padding {
    padding: 30px;
}

.div__container_mt {
    margin: 100px auto 50px auto;
}

/*----- 2. Navbar ------*/



/*----- 3. Header ------*/

.header-box {
 position: relative;
 background-color: #FFFF;
 text-align: center;
 padding: 50px;
 transition: 0.6s;
}

.header-box:hover {
    border: 1px solid #056571;
    color: #056571;
}

.header-box::before, .header-box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top: -10px;
    left: 10px;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.6s;
}

  .header-box::before {
    border-bottom: 3px solid #056571;
    border-left: 3px solid #056571;
    -webkit-transform-origin: 100% 0%;
}
  
  .header-box::after {
    border-top: 3px solid #056571;
    border-right: 3px solid #056571;
    -webkit-transform-origin: 0% 100%;
}

  .header-box:hover::after, .header-box:hover::before {
    -webkit-transform: scale(1);
}

.header__title {
    color: #0A1612;
}

.header__subtitle {
    color: #1A2920;
}

/*---- 3.2. Banner -----*/
/*Photo by rawpixel on Unsplash*/

.header-background {
    background-image: url(../img/banner8.jpg);
    min-height: 80vh;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
}



/*---- 4. About ----*/

/* social media icons size */
.social-media__img img {
    width: 100px;
    max-width: 35%;
    padding: 0;
    border: 0;
    border-radius: 0;
    transition: 0.5s
}

.social-media__img_border:hover {
    border: 1px solid #FF6A5C;
}

/* profile picture */
.div__container_profile-img img {
    padding: 10px;
    border: none;
    border-top: 2px solid #FF6A5C;
    border-left: 2px solid #FF6A5C;
    border-radius: 0;
}

/*---- 5. My Services ----*/

.sections__background_color {
    background-color: #EAEAEA;
    background-image: url(../img/background2.png);
}

.services__title {
    font-size: 15px;
    font-weight: 300;
    color: #056571;
}

.services__title_position {
    position: absolute;
    top: -20px;
}

.services__display_f {
    display: flex;
    
}

.services__box {
    padding: 10px;
}

.services__box img {
    padding: 10px 5px;
}

.services__background {
    background-color: #f1f1f1;

}

/* 7. Skills */

/* bootstrap class */

.progress-bar {
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 20px;
    background-color: #FF6A5C;

}
    .progress {
        height: 20px;
        margin-top: 15px;
    }


/* 8. Portfólio */

.portfolio {
    padding-top: 80px; }
    .portfolio img {
      object-fit: cover;
      width: 100%;
      height: 300px;
      vertical-align: middle; }
  
  .img-port {
    padding: 0; }
  
  .portfolio-box-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 300px;
    padding: 4vw;
    text-align: center;
    transition: 0.5s; }
    
    .portfolio-box-caption:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.5s; }
      .portfolio-box-caption:hover h3, .portfolio-box-caption:hover p {
        color: #fff; }



/* 9. Contact */

/*-- Error span @ contact form --*/

span.error {
    font-size: 12px;
    font-weight: bold;
    color:red;
    letter-spacing: 1px;
}
  
  input.error, textarea.error {
    border-color: red;
}
  

/* 10. Footer */

.footer__display {
    display: flex;
    justify-content: center;

}

.footer__size {
    padding: 25px;
}