/* GERAL */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'PT Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1, h2 {
  color: white;
}

p, li{
  font-family: 'Open Sans', sans-serif;
  color: #263039;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #263039;
}
/* ESPECIFICOS */

/*---- FONT COLORS ---- */
.navbar-light .navbar-brand {
  color: white;
}

/*--- STYLE FROM BRAND */
.navbar-brand {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 5px;
}

/*---- FONT COLORS ---- */
.navbar-light .navbar-nav .nav-link.color-white {
  color: white;
}

.navbar-light .navbar-nav .nav-link.color-white:hover {
  color: #E4E6C3;
}

/*----- SPACE BETWEEN ITEMS - NAVBAR ----- */
.nav-primary .navbar-collapse { 
  justify-content: flex-end;
}

/*---- NAVBAR POSITION ON TOP ----*/
.nav-primary.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  width: 98vw;
}

/* TITLE SPACE FROM THE BOTTOM*/
.header__div {
  margin: 100px;
}

/* BANNER AT MAIN HEADER */
.container__header {
  background-image: url("../img/banner3-big.jpg");
  min-height: 90vh;
  height: 660px;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* MENU HAMBURGUER - RESPONSIVO */
.navbar__top .navbar .container .navbar-toggler-icon {
  filter: invert(100%)
}

.color-gray, .resume-color {
  background-color: #d9c1b7;
  border: none;
  padding: 15px;
}

.card-body .progress-bar {
  text-align: left;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 20px;
}

.progress {
  height: 20px;
  margin-top: 15px;
}

.skills__progress {
  padding-top: 20px;
}

/* ALIGN FORM AND SLIDER */
.contact .align__box {
  align-items: center;
}

.footer-color {
  background-color: #d9c1b7;
}

.social-media img {
  width: 35px;
  max-width: 30px;
}

.footer__copy {
  font-size: 15px;
  margin-bottom: 0rem;
}

.footer__size {
  height: 100px
}

.footer__copy-psize {
  margin-bottom: 0;
}

.profile-pic img {
  width: 20px;
}

.title-section {
  font-weight: bolder;
}

.my-services__items {
    padding: 10px;
    margin: 100px 0;
}

.box__projects {
  padding: 10px;
  margin: 100px 0;
}
span.error {
  font-size: 12.5px;
  font-weight: bold;
  color:red;
  letter-spacing: 1px;
}

input.error, textarea.error {
  border-color: red;
}

.title__services {
  text-align: center;
}

.contact-size {
  padding: 120px;
}

.carousel .slide .carousel-inner img {
  height: 50px;
  object-fit: cover;
}

.my-services__items .card-body {
  background-color: #d9c1b7;
}

.my-services__items .card-body:hover {
  background-color: #c59b8a;
  -webkit-transition: background-color .25s ease;
  -moz-transition: background-color .25s ease;
  -o-transition: background-color .25s ease;
  -ms-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.slider__text {
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=60)
}


.slider__text h5{
 color: #263039;
 opacity: 1;
}


.color__card {
  color: #bf6850;
  text-align: center;
}

.color__card p {
  color: #d9c1b7;
  text-align: center;
}

.progress-bar {
  background-color: #bf6850;
}

.btn-color {
  background-color: #bf6850;
}

.btn-color:hover {
  background-color: #c59b8a;
}

.img-thumbnail {
  max-width: 90%;
}
